In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame([range(1,20), range(10,30), range(20,40), range(30,45), range(40,60), range(50,60), range(50,65)]*4, columns=["id"] + ["x"+str(i) for i in range(18)] + ["y"])
df["y"] = np.random.permutation(["Good"]*10+["Bad"]*18)

In [14]:
first_5_columns=df.iloc[:,:5]
last_5_columns=df.iloc[:,-5:]
filtered_df=pd.concat([first_5_columns, last_5_columns],axis=1)
filtered_df

    id  x0  x1  x2  x3   x14   x15   x16   x17     y
0    1   2   3   4   5  16.0  17.0  18.0  19.0   Bad
1   10  11  12  13  14  25.0  26.0  27.0  28.0  Good
2   20  21  22  23  24  35.0  36.0  37.0  38.0   Bad
3   30  31  32  33  34   NaN   NaN   NaN   NaN   Bad
4   40  41  42  43  44  55.0  56.0  57.0  58.0   Bad
5   50  51  52  53  54   NaN   NaN   NaN   NaN   Bad
6   50  51  52  53  54   NaN   NaN   NaN   NaN   Bad
7    1   2   3   4   5  16.0  17.0  18.0  19.0  Good
8   10  11  12  13  14  25.0  26.0  27.0  28.0   Bad
9   20  21  22  23  24  35.0  36.0  37.0  38.0  Good
10  30  31  32  33  34   NaN   NaN   NaN   NaN   Bad
11  40  41  42  43  44  55.0  56.0  57.0  58.0   Bad
12  50  51  52  53  54   NaN   NaN   NaN   NaN   Bad
13  50  51  52  53  54   NaN   NaN   NaN   NaN  Good
14   1   2   3   4   5  16.0  17.0  18.0  19.0   Bad
15  10  11  12  13  14  25.0  26.0  27.0  28.0   Bad
16  20  21  22  23  24  35.0  36.0  37.0  38.0   Bad
17  30  31  32  33  34   NaN   NaN   NaN   NaN  Good
18  40  41  42  43  44  55.0  56.0  57.0  58.0  Good
19  50  51  52  53  54   NaN   NaN   NaN   NaN   Bad
20  50  51  52  53  54   NaN   NaN   NaN   NaN  Good
21   1   2   3   4   5  16.0  17.0  18.0  19.0   Bad
22  10  11  12  13  14  25.0  26.0  27.0  28.0  Good
23  20  21  22  23  24  35.0  36.0  37.0  38.0   Bad
24  30  31  32  33  34   NaN   NaN   NaN   NaN  Good
25  40  41  42  43  44  55.0  56.0  57.0  58.0   Bad
26  50  51  52  53  54   NaN   NaN   NaN   NaN  Good
27  50  51  52  53  54   NaN   NaN   NaN   NaN   Bad